@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    font-family: 'Lato', sans-serif;
    color:white
}
body {
   margin: 0;
   padding:0;
   color:#000000;
}

/*HEADER*/

.header-container{ 
    height: 100vh;
    width: 100vw;
    background-color: #5e2921;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing:border-box ;
    padding:0 112px;
    position: relative;
}
 .img-perfil{
     width: 220px;
     border-radius: 50%;
 }
 h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
 }  

 h5 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 8px;
 }  


 h2{
    text-transform: uppercase;
    letter-spacing: 4px;
 }

 .social-media  {
    margin-top:1rem;
    display: flex;
}

  .social-media a {
    text-decoration: none;
    color:#FFFFFF;
    padding: 1rem 4rem;
    border: 1px solid #FFFFFF;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: .5s ease-in-out;
}

    a:hover {
        background-color:black;
    }

    /* MENU HAMBUGUER*/

    .checkbox-container {
       display: flex;
       justify-content: center; 
       align-items: center;
    }

    .checkbox {
        height: 100px;
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 50px;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        z-index: 9999;
        transition:400ms ease-in-out 0s;
        background-color: white;
        border-radius: 50%;
    }

    .checkbox  .trace {
        width:50px;
        height: 2px;
        background-color: #000000;
        position: absolute;
        border-radius: 4px;
        transition: 0.5 ease-in-out;
    }

    .checkbox .trace:nth-child(1){
        top: 26px;
        transform: rotate(0);
    }

    .checkbox .trace:nth-child(2){
        top:46px ;
        transform: rotate(0) ;
    }

     .checkbox .trace:nth-child(3){
        top: 66px;
        transform:rotate(0) ;
     }

     #toogle {
        display: none;
    }

     /*MENU*/

     .menu {
        position:absolute;
        top:28px;
        right:30px;
        background-color:transparent;
        height:4px;
        width:10px;
        border-radius: 50px;
        box-shadow: 0px 0px 0px 0px #ffff;
        z-index: -1;
        transition: 400ms ease-in-out 0s;
    }
 
    .menu-itens {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content:center;
        align-items: center;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: 400ms ease-in-out 0s;
        background-color: rgba(255, 255, 255, 0.938);
    }

    .menu-itens ul {
      list-style-type:none;
    }
    
    .menu-itens ul li a {
        margin: 10px 0;
        color:#000000;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 40px;
    }
    
    /* ANIMAÇÃO DO MENU */

    #toogle:checked + .checkbox .trace:nth-child(1) {
       transform: rotate(45deg);
       top:47px;
    } 

    #toogle:checked + .checkbox .trace:nth-child(2) {
       transform: translate(-100px);
       width: 30px;
       visibility: hidden;
       opacity: 0;
    }
       
    #toogle:checked + .checkbox .trace:nth-child(3){
        transform: rotate(-45deg);
        top:48px;
    }

    #toogle:checked + .checkbox {
        background-color: aliceblue;
    }

   #toogle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #ffff;
    z-index: 1;
    
   }

   #toggle:checked ~ .menu-itens {
    visibility: visible;
    opacity: 1;
   }
   #toggle{
    display: none;
   }

 
   /*CARDS*/

   .container {
     height: auto;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     margin:3rem 0;
   }

   .card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
   }

   .card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5e2921;
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #000000;
    cursor: pointer;
    transition: 0.5 ease-in-out;
   }

   .card-text {
    width: 40%;
    letter-spacing: 10px;
    color: rgb(3, 3, 3)
}

   .card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
   }
    
   .card-wrapper::before {
    content: "";
    position:absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid floralwhite;
    opacity: 0;
    transition: 0.5 ease-in-out;
   }

   .card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0%;
    transition: 0.5 ease-in-out;
   }

   .card-wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5 ease-in-out;
   }

   .card:hover {
    filter: unset;
   }

   .card:hover > .card-wrapper ::before {
    height: 200px;
    width: 200px;
    opacity: 1;
   }

    .card:hover > .card-wrapper p {
        opacity: 1;
        visibility: visible;
        font-size: 14px;
        
    }

    section, footer{
        padding: 16px 20px;
        background-color: #5e2921;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: rgba(255, 255, 255, 0.18);
        border-radius: 6px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.6px);
        -webkit-backdrop-filter: blur(4.6px);
        padding-inline: 6px;
    }
    form input, #msg{
        background-color: transparent;
        border: none;
        width: 80%;
        font-size: 1.5rem;
        color: white;
    }
    input::placeholder, textarea::placeholder{
        color: white;
    }
    #nome, #email, #msg{
        border-bottom: 2px solid black;
        margin-block: 8px;
    }
    #btn{
        padding: 6px 26px 6px 26px;
        border: 1px solid black;
        margin-bottom: 16px;
    }

    @media (max-width:600px){
        .header-container{
            padding: 20px;
        }
        .checkbox{
            margin-top: 5px;
            margin-right: 5px;
        }
        .social-media{
            width: 100%;
        }
        .social-media img{
            width: 32px;
        }
        .social-media a{
            width: 40px;
            padding: 10px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .card-text{
            display: none;
        }
    }


